{% extends 'base.html.twig' %}

{% block title %}Hello AppController! - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset("css/style.css") }}" rel="stylesheet" />

{% endblock %}

{% block body %}
    {# Ici je suis dans un commentaire TWIG : visible uniquement côté serveur pour les devs #}
    <!-- commentaire HTMl -->

    {# Afficher quelque-chose #}
    <p>
        L'id dans l'url est : <span style="font-weight:bold">{{ id }}</span>
    </p>

    <p>
        Le chiffre aléatoire est : {{ random }}
    </p>

    {#  Faire quelque-chose #}

    {% if 1 == "1" %}
    <p>
        Je rentre dans la condition qui dit que 1 est égale à "1"
    </p>
    {% endif %}

    {% if 1 > 2 %}
    <p>
        Je rentre pas dans la condition qui dit que 1 est supérieur à 2
    </p>
    {% endif %}

    {% if random > 15 %}
        <p>
            GG
        </p>
    {% elseif random > 10 %}
        <p>
            Pas mal
        </p>
    {% else %}
        <p>
            Chiffre aléatoire nul
        </p>
    {% endif %}

    <ul>
    {% for chiffre in range %}
        <li>{{ chiffre }}</li>
    {% endfor %}
    </ul>

    {# Afficher un asset #}
    <img src="{{ asset('images/Dev-620.jpg') }}" alt="" />
    <img src="{{ absolute_url(asset('images/Dev-620.jpg')) }}" alt="" />

    {# Afficher un objet #}
    <hr>
    <p>Afficher un objet</p>
    <div style="margin-bottom:40px">
        {{ message.description }}
        <p style="text-align:right">{{ message.createdAt | date("d/m/Y H:i") }}</p>
    </div>
{% endblock %}