{% extends 'base.html.twig' %}

{% block title %}Hello TopicController!{% endblock %}

{% block body %}
    <h1>Création d'un topic</h1>

    {# afficher le formulaire en une fois #}
    {#  {{ form(form) }} #}

    {# afficher ouverture/fermeture du form, puis afficher les champs #}
    <div class="container">
        {{ form_start(form) }}
            {{ form_row(form.name) }}

            <label>Les tags</label>
            <div id="list-tags" class="row"
                 data-prototype="{{ include('topic/prototype/tag.html.twig', {'tag': form.tags.vars.prototype}) |e('html_attr') }}"
                 data-index="{{ form.tags | length }}"
            >
                {#  réafficher les tags qui existe déjà #}
                {% for tag in form.tags %}
                    {{ include('topic/prototype/tag.html.twig', {'tag': tag}) }}
                {% endfor %}

            </div>
            <button type="button" id="btn-add-tag">Ajouter un tag</button>
            <br>
            <br>
            <input type="submit" value="Enregistrer"/>
        {{ form_end(form) }}
    </div>

    <script>
        let btn = document.querySelector("#btn-add-tag");
        let listTags = document.querySelector("#list-tags");

        // ajouter un formulaire imbriqué à chaque click sur le bouton,
        // grâce au prototype
        btn.addEventListener('click', function() {
            let prototype = listTags.dataset.prototype;

            let count = listTags.dataset.index;
            prototype = prototype.replace(/__name__/g, count);
            count++;
            listTags.dataset.index = count;

            let element = document.createElement("div");
            element.innerHTML = prototype;
            listTags.appendChild(element.firstChild);
        });
    </script>

    {# afficher champ par champ #}
    {#
    {{ form_start(form) }}
        <div class="col-4">
            {{ form_row(form.name) }}
        </div>


        <input type="submit" value="Coucou valide"/>
    {{ form_end(form) }}
    #}

    {# afficher champ par champ #}
    {#
    {{ form_start(form) }}
        <div class="col-4">
            {{ form_row(form.name) }}
        </div>


        <input type="submit" value="Coucou valide"/>
    {{ form_end(form) }}
    #}
    {# afficher champ par champ #}
    {#
    {{ form_start(form) }}
        <div class="col-4">
            {{ form_errors(form.name) }}
            {{ form_label(form.name, null, {'label_attr': {'class': 'test'}}) }}
            {{ form_widget(form.name, {'attr': {'class': 'classquiprendledessussurlaclassePHP'}}) }}
            {{ form_help(form.name) }}
        </div>

        <input type="submit" value="Coucou valide"/>


    {{ form_end(form) }}
    #}

{% endblock %}